{% set length = nodes|length  %}
{% for node in nodes %}
  {% if length == 1 %}
    <div class="col-xs-12">
  {% elseif length == 2 %}
    <div class="col-sm-6 col-xs-12">
  {% elseif length == 3 %}
    <div class="col-md-4 col-sm-4 col-xs-6">
  {% else %}
    <div class="col-md-3 col-sm-4 col-xs-6">
  {% endif %}
  {{ node_view(node, view_mode) }}
  </div>
{% endfor %}