# By default:
# Ignore all core Drupal files.
# On a prodcution steps you may comment theses ignore to push the real code
# in git.
#www/*.*
#www/includes
#www/misc
#www/modules
#www/scripts
#www/translations
#www/themes
#www/profiles/*
#www/sites

# Because we have beard, let's use composer and symfony
app/cache
app/logs
lib/vendor
www/sites/all/modules/composer
www/sites/all/libraries/composer
www/sites/all/themes/composer

# even after activating full project versioning in production you will still need
# to ignore theses files:
www/sites/default
www/sites/all/README.txt
#www/sites/default/default.settings.php
www/sites/example.sites.php
www/sites/sites.php
www/sites/README.txt

# In case you manage non salted /data directory in a /sites directory
# with symlinks from www/sites/default to /sites/default
# We do not want to store in git most of this content. Except the common.settings.php
# But do not forget this common.settings.php is not the one used by salt
# the real one should be in: .salt/files/common.settings.php
/www/sites/*/files
# /www/sites/*/modules/*
/www/sites/*/*settings*
# /www/sites/*/libraries/*
# /www/sites/*/modules/*
# /www/sites/*/themes/*
!/sites/*/common.settings.php
!/sites/*/local.settings.*.php

# Exceptions inside Drupal files (custom code).
# !www/sites/*/modules/custom
# !www/sites/*/themes/custom
# !www/sites/*/libraries/custom
# !www/monitor*

# WARNING: You will want to use your custom profile's real name below.
!www/profiles/chlovet

# Uncomment following line if modifying Drupal's .htaccess ?
# but really, you should not, either work on Nginx config files or real Apache config files
#!www/.htaccess

# npm modules
node_modules

# ignore runtime files
/lib/
/log
/private
/tmp
/var

# ignore apache conf
/etc/*

# Ignore IDE and OS-related files
.buildpath
.metadata
.settings
.project
.idea
.DS_Store
*.DS_Store
nbproject
.hg
atlassian-ide-plugin.xml
*~
\#*#
*.mo
