.front-media() {
  max-height: @front-media-height;
  height: @front-media-height;
  overflow: hidden;
  display: block;
}

.front-pane {
  > .container {
    padding: 100px 0;
  }
  img {
    width: 100%;
  }
  a {
    color: inherit;
    text-decoration: none;
    &:hover {
      text-decoration: none;
    }
  }
  h1 {
    font-size: 2em;
    text-align: center;
    margin: 0;
    text-transform: uppercase;
    letter-spacing: -2px;
    font-weight: bold;
  }
  h2 {
    .block-title();
  }
  media {
    .front-media();
  }
  hr {
    display: block;
    height: 0px;
    border: 2px solid @text-color;
    padding: 0;
    width: 15%;
    margin: 1em auto 2em;
    border-radius: 2px;
  }

  #map-contact {
    .front-media();
  }

  .node-contact {
    // node contact has a col-* in a col-* which makes double padding
    // and breaks gutters, fix that
    padding: 0;
  }

  .address-highlight {
    .highlight-block();
    padding: @padding-large-vertical @padding-large-horizontal;
    height: @front-media-height;
    min-height: @front-media-height;
    .telephone {
      display: block;
      margin-bottom: ceil(@line-height-computed / 2);
    }
  }
}

.front-pane(@background-color, @color, @hr-color) {
  background-color: @background-color;
  color: @color;
  hr {
    border-color: @hr-color;
  }
  h1 {
    text-shadow: 1px 1px 1px @hr-color;
  }
}

#front1 {
  .front-pane(@front1-bg, @front1-color, @front1-hr);
}

#front2 {
  .front-pane(@front2-bg, @front2-color, @front2-hr);
}

#front3 {
  .front-pane(@front3-bg, @front3-color, @front3-hr);
}

#front4 {
  .front-pane(@front4-bg, @front4-color, @front4-hr);
}

@media (max-width: @screen-xs-max) {
  .front-pane {
    padding-top: 2em;
    padding-bottom: 2em;
  }
}
