#header {
  background-color: @header-top-bg;
  // Banish borders, we want FLAT
  * {
    border: none;
  }
  // Fix the title
  h1 {
    margin: 0;
    font-size: 2.1em;
    color: @color-clouds;
    text-shadow: 1px 1px 1px black;
  }
  // Coloring
  > div {
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    background-color: @header-inner-bg;
    color: @header-inner;
  }
  // Deal with search form positionning and display
  form {
    .pull-right();
  }
  .form-group {
    margin: 0;
  }
  .form-control {
    height: auto;
    padding: 0.5em 1em;
    background-color: @header-form-input-bg;
    color: @header-form-input;
    &:focus {
      // Reset bootstrap default
      border-color: none;
      outline: 0;
      .box-shadow(0 0 0);
      // And go with our own
      background-color: @header-form-input-focus-bg;
      color: @header-form-input-focus;
    }
  }
  blockquote {
    margin: 0;
    position: relative;
//    &::before{
//      content: "\201C"; /*Unicode for Left Double Quote*/
//      font-size: 1.5em;
//      font-weight: bold;
//      position: absolute;
//      left: 10px;
//      top:5px;
//    }
  }
  .btn {
    padding: 0.5em 1em;
  }
  &.sub-page {
    img {
      width: auto;
      height: 50px;
    }
    h1 {
      font-size: 1.5em;
    }
    > div {
      padding: @padding-large-vertical @padding-large-horizontal;
    }
  }
}
