
.header2-container() {
  margin-top: 16px;
}
.header2-item() {
  line-height: 20px;
  padding: @padding-base-vertical @padding-base-horizontal;
  display: block;
  position: relative;
}

#header {
  &.sticky {
    position: fixed;
    top: 0;
    width: 100%;
    p {
      display: none;
    }
    border-bottom: 4px solid @color-chlovet-pink-dark;
  }

  // Goes over navbars
  z-index: @zindex-header;
  background-color: @header-top-bg;

  // Banish borders, we want FLAT
  * {
    border: none;
  }

  a {
    color: @color-front;
  }

  // Fix the title
  h1 {
    a {
      &:hover {
        text-decoration: none;
      }
      color: @color-clouds;
    }
    margin: 0;
    text-shadow: 1px 1px 1px black;
  }
  // Coloring
  > div {
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    background-color: @header-inner-bg;
    color: @header-inner;
  }
  // Deal with search form positionning and display
  form {
    .pull-right();
  }
  .form-group {
    margin: 0;
  }
  .form-control {
    padding: 0.5em 1em;
    background-color: @header-form-input-bg;
    color: @header-form-input;
    &:focus {
      // Reset bootstrap default
      border-color: none;
      outline: 0;
      .box-shadow(0 0 0);
      // And go with our own
      background-color: @header-form-input-focus-bg;
      color: @header-form-input-focus;
    }
  }
  .btn {
    padding: 0.5em 1em;
    .btn-header();
  }

  #header2 {
    > * {
      .header2-container();
      float: left;
      &:last-child {
        float: right;
      }
    }
    .telephone {
      .header2-item();
      padding-left: 0;
    }
  }
  #header-menu {
    margin: 0;
    > li {
      float: left;
      list-style: none;
      > a {
        .header2-item();
        &:hover {
          text-decoration: none;
        }
      }
      &:last-child {
        > a {
          padding-right: 0;
        }
      }
    }
  }

//  &.sticky {
//    #header-menu {
//      display: none;
//    }
//  }

  &.sub-page, &.sticky {
    img {
      width: auto;
      height: 50px;
    }
    h1 {
      font-size: 1.5em;
    }
    > div {
      padding: @padding-large-vertical @padding-large-horizontal;
    }
  }
}
