#header {
  &.sticky {
    position: fixed;
    top: 0;
    width: 100%;
    p {
      display: none;
    }
  }
  // Goes over navbars
  z-index: 121;
  background-color: @header-top-bg;
  // Banish borders, we want FLAT
  * {
    border: none;
  }
  // Fix the title
  h1 {
    a {
      &:hover {
        text-decoration: none;
      }
      color: @color-clouds;
    }
    margin: 0;
    text-shadow: 1px 1px 1px black;
  }
  // Coloring
  > div {
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    background-color: @header-inner-bg;
    color: @header-inner;
  }
  // Deal with search form positionning and display
  form {
    .pull-right();
  }
  .form-group {
    margin: 0;
  }
  .form-control {
    height: auto;
    padding: 0.5em 1em;
    background-color: @header-form-input-bg;
    color: @header-form-input;
    &:focus {
      // Reset bootstrap default
      border-color: none;
      outline: 0;
      .box-shadow(0 0 0);
      // And go with our own
      background-color: @header-form-input-focus-bg;
      color: @header-form-input-focus;
    }
  }
  .btn {
    padding: 0.5em 1em;
    .btn-header();
  }
  &.sub-page, &.sticky {
    img {
      width: auto;
      height: 50px;
    }
    h1 {
      font-size: 1.5em;
    }
    > div {
      padding: @padding-large-vertical @padding-large-horizontal;
    }
  }
}
