#search-results {
  .media {
    &:first-child {
      margin-top: 15px;
    }
    padding-top: @padding-large-vertical;
    padding-bottom: @padding-large-vertical;
    background-color: @search-result-bg;
    &:hover {
      background-color: @search-result-hover-bg;
      .background-ease();
      .media-heading a {
        color: @search-result-title-hover;
      }
    }
  }
  .media-left {
    width: 96px;
    min-width: 96px;
    min-height: 96px;
    overflow-x: hidden;
    img {
      width: 100%;
    }
  }
  .media-heading {
    a {
      color: @search-result-title;
    }
  }
}