imports:
    - { resource: parameters.yml }
    - { resource: services.yml }

parameters:
  ucms_contrib_admin_pages:
    local:
      name: All content
      permission: access ucms content overview
      filter_query: {}

framework:
    #esi:             ~
    #translator:      { fallbacks: ["%locale%"] }
    #secret:          "%secret%"
    router:
        resource: "%kernel.root_dir%/config/routing.yml"
        strict_requirements: ~
    form:            ~
    #csrf_protection: ~
    validation:      { enable_annotations: true }
    # templating:
    #     engines: ['twig']
    default_locale:  "%locale%"
    fragments:       ~
    http_method_override: true
    assets: ~

twig:
    debug:            "%kernel.debug%"
    strict_variables: false
    form_themes:
        # Symfony's core form themes, last one if default one
        - "bootstrap_3_layout.html.twig"
        - "bootstrap_3_horizontal_layout.html.twig"
        # Custom form theme
        - "Form/bootstrap_custom.html.twig"
