#footer {
  background-color: @color-chlovet-footer-bg;
  padding-top: ceil(@line-height-computed * 1.5);
  padding-bottom: ceil(@line-height-computed * 1.5);
  margin-top: ceil(@line-height-computed * 4);

  h1 {
    .block-title();
  }
  a {
    color: @color-chlovet-pink-dark;
  }

  ul {
    list-style: none;
    margin: 0;
    padding: 0;
    li {
      margin-bottom: ceil(@line-height-computed / 2);
    }
  }

  .telephone {
     margin-bottom: (@line-height-computed / 2);
     display: block;
  }
  .name-line {
    // do something!
  }
}

#footer-footer {
  padding-top: ceil(@line-height-computed * 1.5);
  padding-bottom: ceil(@line-height-computed * 1.5);

  text-align: center;
  background-color: @color-chlovet-gray-darker;
  color: @color-front;
  a {
    color: @color-front;
    &:hover {
      text-decoration: none;
    }
  }
}
