#toolbar {
  &.navbar {
    margin-bottom: 0;
  }
}

#menu {
  .navbar {
    margin: @padding-large-vertical auto;
    border: 0;
  }

  // Overrides bootstrap navbar style to center
  ul {
    float: none;
    display: block;
    text-align: center;
    > li {
      display: inline-block;
      float: none;
    }
  }

  // Little bit of text styling
  text-transform: uppercase;
  font-weight: bold;
}

#menu-navigation {
  margin-top: @line-height-computed;
  > ul > li.active {
    border-left: 2px solid @menu-navigation-active-color;
    padding-left: 14px; // removes 2px from padding
  }
  ul {
    ul {
      margin-left: 0;
    }
    padding: 0;
    margin: 0;
    list-style: none;
    margin-left: @padding-large-horizontal;
  }
  li {
    padding-left: 16px;
    line-height: ceil((@font-size-base * 1.8));
    &.active {
      > a {
        font-weight: bold;
      }
    }
  }
  a {
    color: @menu-navigation-color;
    &.active {
      color: @menu-navigation-active-color;
    }
  }
}

#menu-siblings {
  ul {
    .list-unstyled();
    background-color: @menu-siblings-bg;
    li > a {
      background-color: @menu-siblings-link-bg;
      color: @menu-siblings-link;
      display: block;
      padding: 0.7em 1.5em;
      font-weight: bold;
      .glyphicon {
        //color: transparent;
      }
      &:hover {
        text-decoration: none;
        background-color: @menu-siblings-link-hover-bg;
        color: @menu-siblings-link-hover;
        .background-ease();
      }
    }
    li.active > a {
      background-color: @menu-siblings-link-active-bg;
      color: @menu-siblings-link-active;
      .glyphicon {
        color: inherit;
      }
    }
    // Make it even with H1
    margin-top: @line-height-computed;
    margin-bottom: (@line-height-computed / 2);
  }
}

#menu-children {
  padding: 0;
  background-color: @menu-children-bg;
  #menu-children-list {
    .item {
      padding: 1em;
      > a {
        min-height: ceil((@line-height-computed * 3 + 2 * @padding-large-vertical));
        height: ceil((@line-height-computed * 3 + 2 * @padding-large-vertical));
        text-align: center;
        padding: @padding-large-vertical;
        display: table-cell;
        vertical-align: bottom;
        border-bottom: 2px solid @menu-children-border;
        background-color: @menu-children-link-bg;
        color: @menu-children-link;
        font-weight: bold;
        &:hover {
          text-decoration: none;
          background-color: @menu-children-link-hover-bg;
          color: @menu-children-link-hover;
          //.background-ease();
        }
      }
    }
  }
}
