.block-title() {
  font-size: @font-size-h3;
  &, a {
    color: @color-chlovet-footer;
  }
  a {
    &, &:hover {
      text-decoration: none;
    }
  }
}

.highlight-block() {
  .clearfix();
  background-color: @color-chlovet-footer-bg;
}

.highlight-square(@color) {
  //border: 1px solid @color;
  background-color: lighten(@color, 25%);
  &:hover {
    background-color: ligthen(@color, 5%);
  }
}

.titleize {
  text-transform: uppercase;
  font-weight: bold;
  font-size: ceil((@font-size-base /* * 1.25 */));
}

// For media with dynamic height (full width, no crop)
.media-dynamic(@height: 250px) {
  height: @height;
  max-height: @height;
  overflow-y: hidden;
  position: relative;
  img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

// For fixed-height media (Drupal image styles)
.media-fixed() {
  overflow-x: hidden;
  img {
    // Fixes responsive image rules
    width: auto !important;
    max-width: 3000vh !important;
  }
}

// For fixed-height media (Drupal image styles) - centered horizontally
.media-fixed-centered(@height: 355px) {
  overflow-x: hidden;
  position: relative;
  height: @height;
  img {
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
    // Fixes responsive image rules
    width: auto !important;
    max-width: 3000vh !important;
  }
}
