/*****************************************************************************
 *
 * VARIABLES
 *
 *****************************************************************************/

// Custom Calista variables
@calista-border-radius:                  0;
@calista-padding-horizontal:             @padding-base-horizontal;
@calista-padding-vertical:               @padding-base-vertical;
@calista-pane-bg:                        #222;
@calista-pane-border:                    darken(@calista-pane-bg, 10%);
@calista-pane-button-size:               40px;
@calista-pane-color:                     lighten(@gray-light, 15%);
@calista-pane-fg:                        #fff;
@calista-pane-height:                    330px;
@calista-pane-input-bg:                  #2d2d2d;
@calista-pane-input-border:              #4d4d4d;
@calista-pane-link-active-color:         @calista-pane-fg;
@calista-pane-link-color:                lighten(@gray-light, 15%);
@calista-pane-link-disabled-color:       #444;
@calista-pane-link-hover-color:          @calista-pane-link-active-color;
@calista-pane-toggle-active-bg:          @brand-primary;
@calista-pane-toggle-active-color:       @calista-pane-link-active-color;
@calista-pane-toggle-color:              @calista-pane-link-color;
@calista-pane-toggle-font-size:          @font-size-base;
@calista-pane-toggle-hover-bg:           darken(@brand-primary, 10%);
@calista-pane-toggle-hover-color:        @calista-pane-link-hover-color;
@calista-pane-top-delta:                 50px; // navbar height
@calista-pane-width:                     330px;
@calista-pane-zindex:                    1102;
@calista-toolbar-zindex:                 1103; // @zindex-admin-navbar

@import "@{calista-path}/calista";

