<div id="menu-children" class="container-fluid">
  <h2 class="container sr-only">Lire la suite</h2>
  <div class="container" id="menu-children-list">
    <div class="row">
      {% for item in tree.children %}
        <div class="item col-lg-3 col-md-4 col-sm-6 col-xs-12">
          <a href="{{ url(item.route) }}">
            {{ item.title }}
          </a>
        </div>
      {% endfor %}
    </div>
  </div>
</div>