<div id="menu-children" class="container-fluid">
  <h2 class="row sr-only">Lire la suite</h2>
  <div id="menu-children-list" class="row">
    {% for item in tree.children %}
      <div class="item col-lg-3 col-md-4 col-sm-6 col-xs-12">
        <a href="{{ url(item.route) }}">
          {{ item.title }}
        </a>
      </div>
    {% endfor %}
  </div>
</div>