.background-ease() {
  transition: background-color 0.3s ease, color 0.3s ease;
}
.table-div {
  display: table;
  width: 100%;
  > div {
    display: table-row;
    > * {
      display: table-cell;
      &.middle {
        vertical-align: middle;
      }
    }
  }
}
